# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Airflow
airflow.cfg
airflow.db
airflow-webserver.pid
simple_auth_manager_passwords.json.generated
logs/

# Java / Maven
*.class
target/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
